@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #5d388e;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* left and right */
    justify-content: center; /* top and bottom */
    height: 100vh; /* 100% viewport height */
    overflow: hidden; /* so there is no scroll bar */
    margin: 0;
}

.btn {
    color: #5d388e;
    padding: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}


.toasts {
    position: fixed;
    bottom: 0;
    right: 0;
}

.toast {
    background-color: white;
    margin: 1em;
    padding: 0.8em;
    border-radius: 5px;
}

.toast.success {
    color: #198754;
}

.toast.danger {
    color: #dc3545;
}

.toast.warning {
    color: #ffc107;
}