@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboty', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* left and right */
    justify-content: center; /* top and bottom */
    height: 100vh; /* 100% viewport height */
    overflow: hidden; /* so there is no scroll bar */
    margin: 0;
}